<div class="mb-4">
  <div class="flex justify-between items-start mx-2">
    <%=render partial: 'materials/forms/common', locals: {material: material} %>
    <%=render partial: 'materials/forms/matrix6x6', locals: {material: material} %>
    <%=render partial: 'materials/forms/matrix6x3', locals: {material: material} %>
    <%=render partial: 'materials/forms/matrix3x3', locals: {material: material} %>
  </div>

</div>