<div class="my-2 mr-6 w-1/6">
<label class="font-medium leading-6 text-gray-900" for="<%=name%>">
    <%=label_text%>
</label>
<input
  id="<%=name%>"
  name="<%=name%>"
  type="text" inputmode="decimal"
  pattern="[0-9]*[.,]?[0-9]*"
  class="appearance-none border rounded w-full py-2  text-gray-900 leading-tight focus:outline-none focus:shadow-outline"/>
</div>