<footer class="mt-auto bg-gray-200 h-12">
  <div class="text-center text-sm text-gray-800 mt-4 sm:text-center flex justify-center">
    <a href="/about" class=" mx-4 flex justify-center items-center
    text-center text-sm text-gray-800 sm:text-center">About</a>
    <span class="mx-4 block sm:inline">&copy; <%= Time.now.year %> ACELAN-COMPOS</span>
  </div>
</footer>